

services:
  frontend:
    build:
      context: .
      args:
        VITE_API_BASE_URL: http://localhost:5000
        VITE_SOCKET_URL: http://localhost:5005
        VITE_NOTIFICATION_URL: http://localhost:5006
    ports:
      - "3000:80"
    networks:
      - decp-network

networks:
  decp-network:
    name: decp-network